.body_user {
  display: flex;
  position: fixed;
  width: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  align-items: center;
}
.body_user .left_menu {
  background: #141414;
  width: 20%;
  height: 100vh;
}
.body_user .screen {
  width: 80%;
  height: 100vh;
  background: rgba(46, 46, 46, 0.4);
}
.body_user .screen .scr_user {
  width: calc(100% - 40px);
  height: 90vh;
  margin: 20px;
  margin-right: 0;
}
.body_user .screen .scr_user .check_genre {
  text-align: center;
  width: 20%;
  position: absolute;
  right: 0;
}
.body_user .screen .scr_user .check_genre .genre_list {
  width: 100%;
  max-height: calc(100vh - 201px);
  border: 0px solid white;
  border-bottom: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.body_user .screen .scr_user .check_genre .genre_list::-webkit-scrollbar {
  width: 0px;
}
.body_user .screen .scr_user .check_genre .genre_list .genre {
  width: 100%;
  height: 38px;
  cursor: pointer;
  position: relative;
  padding-top: 12px;
  transition: 0.2s;
}
.body_user .screen .scr_user .check_genre .genre_list .genre:hover {
  background: rgba(66, 66, 66, 0.6);
}
.body_user .screen .scr_user .check_genre .genre_list .genre .inpt_check {
  width: 50px;
  height: 50px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: absolute;
  margin: auto;
  cursor: pointer;
}
.body_user .screen .scr_user .check_genre .genre_list .genre .inpt_check:before {
  background: red;
}
.body_user .screen .scr_user .check_genre .genre_list .genre .lbl_check {
  width: 80%;
  height: 25px;
  margin: auto;
  margin-top: 12px;
  cursor: pointer;
}
.body_user .screen .scr_user .check_genre .genre_list .genre .lbl_check:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 1;
  transition: 0.2s;
}
.body_user .screen .scr_user .check_genre .genre_list .genre .lbl_check:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  opacity: 0;
  background: url("../img/check.png"), no-repeat;
  background-size: 18px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}
.body_user .screen .scr_user .check_genre h4 {
  margin: auto;
}
.body_user .screen .scr_user .btn_save {
  position: absolute;
  width: calc(80% - 20px);
  height: 50px;
  bottom: 104px;
  padding: 0;
  border: 0;
  background: rgb(2, 95, 248);
  border-radius: 10px;
  transition: 0.2s;
}
.body_user .screen .scr_user .btn_save:hover {
  background: rgba(2, 95, 248, 0.5);
}
.body_user .screen .scr_user .btn_save:active {
  background: rgba(2, 95, 248, 0.7);
}
.body_user .screen .scr_user .btn_save button {
  width: 100%;
  height: 50px;
  padding: 0;
  background: 0;
  border: 0;
  color: white;
  cursor: pointer;
}
.body_user .screen .scr_user .btn_save button h2 {
  margin: auto;
}
.body_user .screen .scr_user .upper {
  display: flex;
}
.body_user .screen .scr_user .upper .inpt_str {
  width: 50%;
  margin-left: 20px;
}
.body_user .screen .scr_user .upper .inpt_str .data {
  width: 78%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
  background: 0;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
  padding-left: 10px;
  font-size: 20px;
  transition: 0.2s;
}
.body_user .screen .scr_user .upper .inpt_str .data:hover {
  border-color: rgb(2, 95, 248);
}
.body_user .screen .scr_user .upper .inpt_str .data:focus-visible {
  outline: 0;
  border-color: rgb(2, 95, 248);
  width: 80%;
}
.body_user .screen .scr_user .upper .inpt_str .cp {
  width: 40%;
  height: 40px;
  color: white;
  background: grey;
  border: 0px;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}
.body_user .screen .scr_user .upper .inpt_str .cp:hover {
  background: rgba(66, 66, 66, 0.6);
}
.body_user .screen .scr_user .upper .inpt_str .cp h4 {
  margin: auto;
}
.body_user .screen .scr_user .upper .avatars {
  width: 20%;
}
.body_user .screen .scr_user .upper .avatars .accept {
  width: 100%;
  color: white;
  background: #025ff8;
  cursor: pointer;
  border: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.3s;
  margin-top: -5px;
}
.body_user .screen .scr_user .upper .avatars .accept:hover {
  background: rgba(2, 95, 248, 0.6);
}
.body_user .screen .scr_user .upper .avatars .clicked_btn {
  width: 100%;
  height: auto;
  background: 0;
  border: 0;
  padding: 0;
  position: relative;
}
.body_user .screen .scr_user .upper .avatars .clicked_btn img {
  width: 100%;
  height: 100%;
  max-height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.body_user .screen .scr_user .upper .avatars .clicked_btn .change {
  position: absolute;
  width: 100%;
  height: calc(100% - 5px);
  top: 0;
  text-align: center;
  align-items: center;
  background: rgba(41, 41, 41, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}
.body_user .screen .scr_user .upper .avatars .clicked_btn .change:hover {
  background: rgba(41, 41, 41, 0.7);
}
.body_user .screen .scr_user .upper .avatars .clicked_btn .change h3 {
  margin-top: 25%;
}
.body_user .screen .scr_user .upper .avatars .upload_img {
  display: none;
}

.upload h2 {
  height: 50px;
  margin: auto;
  padding-top: 5px;
}

.screen_search {
  width: 100%;
  background: #474747;
  height: 50px;
  position: relative;
}

.lft_button {
  display: grid;
  width: 100%;
  height: 10vh;
  text-align: center;
  vertical-align: middle;
  transition: 0.2s;
  border-radius: 5px;
}
.lft_button:hover {
  background: rgba(135, 135, 135, 0.5);
}
.lft_button:active {
  background: rgba(135, 135, 135, 0.3);
}
.lft_button h2 {
  margin: auto;
}

.inpt_str > form > h4, .inpt_str > h4 {
  margin: auto;
}

#logem {
  display: none;
}

#check_id {
  display: none;
}

.inpt_check:checked + .lbl_check:before {
  background: #025ff8;
  border: 0;
}

.inpt_check:checked + .lbl_check:after {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */
